:root {
    /* element colors defined here */
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    list-style-type: none;
    opacity: 100%;
}

.bkgdimg {
    /* background-image: url('https://cdn.shopify.com/s/files/1/1140/8354/articles/Who_Owns_DC_Comics_2000x.jpg?v=1635267203'); */
    opacity: 30%;
    position: absolute;
    z-index: -2;
}

/* Nav Elements */
.navbar {
    justify-content: flex-end;
}
nav ul {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    min-width: 300px;
}  
nav ul li {
    align-items: center;
    padding: 8px;
}
#pagetitle {
    font-weight: bolder;
    left: 10px;
    position: absolute;
    top: 10px;
}