<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/jpg" href="/images/powcomic.ico">
    <!-- Google Font - Alfa Slab & Bangers -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bangers&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Website Title -->
    <title>ComicStans | Track Your Comic Collection</title>
</head>

<body>
    <nav>
        <ul class="navbar">
            <!-- DC Logo | Clicking here sends the user to DCcomics' homepage -->
            <img id="dccomicslogo" src="https://upload.wikimedia.org/wikipedia/commons/3/3d/DC_Comics_logo.svg">
            <!-- Page Logo | Clicking here returns the user to the homepage -->
            <li><a href="/" title="Return to Homepage"><div id="pagetitle">COMICStANS</div></a></li>
            <!-- Dynamic Navbar options -->
            {{#if logged_in}}
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="#logout">Sign Out</a></li>
            {{else}}
                <li><a href="/login" id="navloglink">Sign Up / Log In</a></li>
            {{/if}}

        </ul>
    </nav>

    <!-- Page Images -->
    <!-- Background Image -->
    <div class="bkgdimg"></div>
    <!-- Dan C Mascot -->
    <div><img id="mascot_danc" src="/images/stanlee-danc editbyDavid.png"></div>

    <main class="content">
        {{{ body }}}
    </main>

    <!-- Footer -->
    <footer class="custom-footer">
        <h4><a href="https://github.com/pr1me-e1gh7/ComicStans" title="Checkout the Repo"><i class="fa-brands fa-github custom-iconfooter"></i></a> Checkout the Developers 
        <!-- Our Github profiles, by alphabetical order -->
            <a href="https://github.com/pr1me-e1gh7" title="David Caro"><i class="fa-solid fa-circle-1 custom-iconfooter"></i></a>
            <a href="https://github.com/thiagorodrigues3" title="Thiago Rodrigues"><i class="fa-solid fa-circle-2 custom-iconfooter"></i></a>
            <a href="https://github.com/mwright0481" title="Mike Wright"><i class="fa-solid fa-circle-3 custom-iconfooter"></i></a>
            <a href="https://github.com/chrisy272" title="Paul Young"><i class="fa-solid fa-circle-4 custom-iconfooter"></i> </a>
        Copyright <i class="far fa-copyright"></i> 2022 </h4>
    </footer>
    
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>