<div class="page_container">
    <section class="page_content" id="explorecontent">
        {{#if logged_in}}
        
        {{else}}
        <article>
            <h2>WOH there, believers!</h2>
            <h4>You must first <a href="/login">login or signup</a> before viewing this page</h4>
        </article>
        {{/if}}
    </section>
</div>