<ul class="container custom-container1" id="homepage_collbuttons">
    <li><button class="custom-homepgbtn"><a href="/login">
        <p><i class="fas fa-books-medical custom-iconhome"></i></p>
        <p>Start Your Collection</p></a></button></li>
    <li><button class="custom-homepgbtn"><a href="/login">
        <p><i class="fa-solid fa-book-open-reader custom-iconhome"></i></p>
        <p>View Collections</p></a></button></li>
</ul>