<ul class="container" id="homepage_collbuttons">
    {{#if logged_in}}
        <li><button class="custom-homepgbtn"><a href="/profile">
            <p><i class="fas fa-books-medical custom-iconhome"></i></p>
            <p>Start Your Collection</p></a></button></li>
        <li><button class="custom-homepgbtn"><a href="/explore">
            <p><i class="fa-solid fa-book-open-reader custom-iconhome"></i></p>
            <p>View Collections</p></a></button></li>
    {{else}}
        <li><button class="custom-homepgbtn"><a href="/login">
            <p><i class="fas fa-books-medical custom-iconhome"></i></p>
            <p>Start Your Collection</p></a></button></li>
        <li><button class="custom-homepgbtn"><a href="/login">
            <p><i class="fa-solid fa-book-open-reader custom-iconhome"></i></p>
            <p>View Collections</p></a></button></li>
    {{/if}}
</ul>