  <ul class="container custom-container1" id="homepage_collbuttons">
        <!-- #Logpage_newcoll is meant to load the Profile: My Collection page after the user logs in -->
            <li><button class="custom-homepgbtn"><a href="#Logpage_newcoll">
                <p><i class="fas fa-books-medical custom-iconhome"></i></p>
                <p>Start Your Collection</p></a></button></li>
        <!-- #Logpage_viewcoll is meant to load the Explore: Find Your League page after the user logs in -->
            <li><button class="custom-homepgbtn"><a href="#Logpage_viewcoll">
                <p><i class="fa-solid fa-book-open-reader custom-iconhome"></i></p>
                <p>View Collections</p></a></button></li>
    </ul>