<div id="page_login">
<section id="page_logincontent">
  <form id="login-new" action="action_page.php">
    <h2>New visitor?</h2>
    <h4>Sign up to keep track of your very own collection and compare it to other users.</h4>
    <label for="email"><b>Email:</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
    <br><label for="psw"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
    <br><label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember Me?</label>
    <br><p>By creating an account you agree to our <a href="#" style="text-decoration: underline">Terms of Service</a>.</p>
    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </form>

  <form id="login-old" action="action_page.php">
    <h2>Returning collector?</h2>
      <h4>Log in to make changes to your collection and view other collections at your leisure.</h4>
      <label for="email"><b>Email:</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
      <br><label for="psw"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
      <br><label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember Me?</label>
      <div class="clearfix">
        <button type="button" class="signinbtn">Sign In</button>
      </div>
  </form>
</section>
</div>