
<form action="action_page.php" style="border:1px solid rgb(8, 8, 8)">
    <div class="container">
  
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Siqn In</button>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
{{!-- </div>
      <div class="clearfix">
        <button type="button" class="signinbtn">Sign In</button>
      </div> --}}
<script src="./js/login.js"></script>