/* Page elements */
:root {
    --navbarBkgd: white;
    --navbarText: #0376F2;
    --pageBkgd: white;
    --pageText: #3a0ca3;
}
body {
    background-color: black;
    color: var(--pageText);
    font-family: 'Bangers', cursive;
    font-size: 150%;
    list-style-type: none;
    opacity: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Nav elements */
#dccomicslogo {
    height: 50px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: auto;
}
nav a {
    color: var(--navbarText);
}
.navbar {
    background-color: var(--navbarBkgd);
    font-family: 'Bangers', cursive;
    min-height: 7.5vh;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#navloglink:hover {
    color: var(--navbarText);
    font-weight: bolder;
    text-decoration: none;
}
nav ul {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    min-width: 300px;
}  
nav ul li {
    align-items: center;
    padding: 8px;
}
#pagetitle {
    color: var(--navbarText);
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    font-weight: 900;
    left: 65px;
    letter-spacing: 2px;
    position: absolute;
    top: 0px;
}
#pagetitle:hover {
    color: var(--navbarText);
    font-weight: bolder;
    text-decoration: none;
}

/* Footer */
.custom-footer {
    bottom: 5px;
    color: white;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.custom-footer a {
    color: white;
    text-decoration: none;
}
.custom-footer a:hover {
    color: white;
    text-decoration: none;
}
.custom-iconfooter:hover {
    -webkit-animation: infinite-spinning 1s ease-out 0s infinite normal;
    animation: infinite-spinning 1s ease-out 0s infinite normal;
}
@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* Page content */
.bkgdimg {
    opacity: 25%;
    z-index: -2;
    background-attachment: fixed;
    background-image: url("https://cdn.shopify.com/s/files/1/1140/8354/articles/Who_Owns_DC_Comics_2000x.jpg?v=1635267203");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}
.content {
    padding-top: 80px;
}
#largecontainer {
    width: 90vw;
}
#mascot_danc {
    position: absolute;
    bottom: 0px;
    height: 40%;
    width: auto;
    z-index: 2;
}
.page_container {
    align-content: center;
    border: hidden;
    display: flex;
    justify-content: center;
    height: 85vh;
    width: auto;
}
.page_content {
    align-items: center;
    background-color: white;
    border: hidden;
    border-radius: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* Adds scroll to keep content in box */
    overflow-y: auto;
    padding: 20px;
}
#smallcontainer {
    width: 40vw;
}

/* Homepage buttons */
.custom-homepgbtn {
    border: white 20px solid;
    background: none;
    border-radius: 100%;
    height: 500px;
    margin: 20px;
    margin-top: 30%;
    top: 50%;
    width: 500px;
}
.custom-homepgbtn a {
    color: white;
    text-decoration: none;
}
.custom-homepgbtn a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.custom-iconhome {
    font-size: 200px;
}
#homepagebuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    list-style-type: none;
}

/* Login page */
#login-new {
    padding-bottom: 20px;
}
#login-old {
    padding-bottom: 10px;
}

/* Explore - Find Your League page */
.league-list {
    border: solid 2px black;
}
.league-userinfo {
    flex-direction: column;
    float: inline-end;
    font-size: 50%;
}
.league-username {
    float: inline-start;
}

/* Explore - Find Adventure page*/
.comic-info {
    float: inline-end;
}
.issue_name {
    float: inline-start;   
}